name: Release CI

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  create-release:
    name: Create Pre-Release
    runs-on: ubuntu-latest

    steps:
      - name: Create GitHub Pre-Release
        uses: softprops/action-gh-release@v2
        with:
          prerelease: true
          name: email-spam-detector ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
